#title {
    color: rgb(255, 72, 0);
    text-align: center;
}

#rocket {
    font-size: 30px;
}

pre {
    text-align: center;
}

#nasa {
    color: red;
    text-decoration: underline;
}

#intro {
    text-align: center;
}